body{
    margin: 0;
    padding: 0;
    background-color: #C07787;
    overflow: hidden;
    font-family: monospace;
}
#container{
    position: absolute;
    left: 50%;
    top: 50%;
}
.heart{
    position: absolute;
    top: 5px;
    width: 30px;
}
svg:nth-child(1){
    fill: #AE4051;
    animation: grow 2.75s linear infinite;
}
svg:nth-child(2){
    fill: #C07787;
    animation: grow 2.75s linear infinite;
    animation-delay: .25s;
}
svg:nth-child(3){
    fill: #CDB2C2;
    animation: grow 2.75s linear infinite;
    animation-delay: .50s;
}
svg:nth-child(4){
    fill: #AE4051;
    animation: grow 2.75s linear infinite;
    animation-delay: .75s;
}
svg:nth-child(5){
    fill: #C07787;
    animation: grow 2.75s linear infinite;
    animation-delay: 1s;
}
svg:nth-child(6){
    fill: #CDB2C2;
    animation: middle 2.75s linear infinite;
    animation-delay: 1s;
}
@keyframes grow {
    0%{transform: scale(2);}
    25%{transform: scale(15);}
    50%{transform: scale(30);}
    100%{transform: scale(0.7);}
}
@keyframes middle{
    0%{transform: scale(5);}
    100%{transform: scale(0.7);}
}
